/* Custom Fonts */
@font-face {
  font-family: PTMono;
  src:  url("./assets/font/PTMono-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: RobotoCondensed;
  src:  url("./assets/font/RobotoCondensed-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: RobotoCondensed;
  src:  url("./assets/font/RobotoCondensed-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: RobotoCondensed;
  src:  url("./assets/font/RobotoCondensed-Bold.ttf");
  font-weight: 700;
}

/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

ul {
  list-style-type: none;
}

ol, ul {
  padding-left: 0px !important;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #0A192F;
  color: #FFF;
  font-family: 'Roboto Condensed', sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #0A192F !important;
}

body::-webkit-scrollbar-thumb {
  background-color: #58657F !important;
  border-radius: 20px;
  border: 3px solid #0A192F !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.white-text {
  color: #BAC4E3;
}
.white-text-light {
  color: #58657F;
}
.blue-text {
  color: #00D5B5;
}
.blue-text-light {
  color: #339989;
}
/* Default CSS */


/* NavBar */
nav.navbar {
  padding: 20px 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.2s ease-in-out;
}

nav.navbar.scrolled {
  padding: 10px 50px;
  background-color: #0A192F;
  transition: all 0.2s ease-in-out;
  opacity: 0.9;
}

.navbar-brand img {
  width: 50%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 500;
  color: #BAC4E3 !important;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

nav.navbar .navbar-nav .nav-link.navbar-link span{
  font-family: 'PT Mono', monospace;
  font-weight: 400;
  color: #00D5B5 !important;
  font-size: 12px;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  color: #00D5B5 !important;
  transition: all 0.2s ease-in-out;
}
/* NavBar */


/* Introduction */
.intro-box {
  margin: 250px 0;
}

.intro-box h1, h2, h3, h4 {
  text-align: left;
}

.intro-box h1 {
  font-family: 'PT Mono', monospace;
  font-size: 16px;
  margin-bottom: 15px;
}

.intro-box h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 60px;
  font-weight: bold;
}

.intro-box h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 60px;
  font-weight: bold;
}

.intro-box h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  margin-bottom: 25px;
}
/* Introduction */


/* Custom button */
.btn-blue {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: bold !important;
  color: #00D5B5 !important;
  background-color: transparent !important;
  border-radius: 10px !important;
  border-color: #00D5B5 !important;
  padding: 10px 20px !important;
  transition: all 0.15s ease-in-out !important;
  cursor: pointer !important;
}

.btn-blue:hover {
  background-color: #00d5b51a !important;
  transition: all 0.3s ease-in-out !important;
}

.btn-blue:active {
  background-color: #00d5b570 !important;
  transition: all 0.3s ease-in-out !important;
}
/* Custom button */


/* About */
.about-box {
  margin-bottom: 150px;
}

.about-header, .experience-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.about-header h3, .experience-header h3 {
  font-weight: 500;
  color: #BAC4E3 !important;
  font-size: 26px;
  margin-right: 15px;
}

.about-header span, .experience-header span {
  font-family: 'PT Mono', monospace;
  font-weight: 400;
  color: #00D5B5 !important;
  font-size: 24px;
}

.about-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inner-info {
  max-width: 600px;
}

.inner-info p {
  font-weight: 400;
  color: #BAC4E3 !important;
  font-size: 16px;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
}

.skill-list img {
  padding-right: 5px;
}

.skill-list li {
  font-weight: 400;
  color: #339989 !important;
  font-size: 12px;
  margin-bottom: 10px;
}

.avatar-box {
  border-radius: 50%;
  background: #0A192F;
  box-shadow:  -15px 15px 30px #060f1c,
             15px -15px 30px #0e2342;
  overflow: hidden;
}
/* About */


/* experience */
.experience-box {
  margin: 100px 0;
}

.experience-inner {
  margin: 70px 0;
}

.experience-header img {
  margin-right: 15px;
}

.experience-card-info, .experience-card-info h3 {
  text-align: center;
}

.experience-card-info h3 {
  font-weight: bold;
  color: #BAC4E3 !important;
  font-size: 16px;
  margin-top: 15px;
}

.experience-card-info span {
  font-family: 'PT Mono', monospace;
  font-weight: 400;
  color: #00D5B5 !important;
  font-size: 16px;
}

.experience-card-info h6 {
  font-weight: 500;
  color: #BAC4E3 !important;
  font-size: 12px;
}

.experience-card {
  text-align: center;
}

.experience-card-list {
  text-align: center;
}

.react-multi-carousel-list {
  display: flex !important;
  flex-wrap: nowrap !important;
}

.experience-card-list {
  text-align: start;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 600px));
  justify-content: center;
  justify-items: center;
  align-items: baseline;
}

.experience-card-list li {
  color: #BAC4E3;
  margin-bottom: 15px;
  max-width: 400px;
}

.experience-card-list svg {
  color: #00D5B5;
  margin-bottom: 5px;
}
/* experience */


/* Work */
.work-header {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 70px 0;
}

.work-header h3 {
  font-weight: 500;
  color: #BAC4E3 !important;
  font-size: 26px;
  margin-right: 15px;
}

.work-header span {
  font-family: 'PT Mono', monospace;
  font-weight: 400;
  color: #00D5B5 !important;
  font-size: 24px;
}

.work-list {
  margin: 100px 0;
}

.featured-work-right {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
}

.featured-work-right:nth-of-type(2n+1) .work-content-right {
  grid-column: 8 / -1;
  text-align: right;
}

.featured-work-right .work-content-right {
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
}

.work-overline-right {
  font-family: 'PT Mono', monospace;
  font-weight: 400;
  color: #00D5B5 !important;
  font-size: 16px;
  margin: 10px 0;
}

.work-title-right {
  color: #BAC4E3;
  text-align: right;
  margin-bottom: 20px;
}

.work-title-right a {
  text-decoration: none;
  color: #BAC4E3;
  cursor: default;
}

.work-title-right a:hover {
  color: #BAC4E3;
}

.work-description-right {
  box-shadow: 0 10px 30px -15px #0e2342;
  position: relative;
  z-index: 3;
  padding: 25px;
  border-radius: 10px;
  background-color: #060f1c;
  color: #BAC4E3;
  font-size: 16px;
  opacity: 0.9;
}

.featured-work-right:nth-of-type(2n+1) .technology-list-right {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.technology-list-right {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}

.featured-work-right:nth-of-type(2n+1) .work-links-right {
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-left: 0px;
}

.work-links-right {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  color: #BAC4E3;
}

.work-links-right a {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px;
  margin-right: 10px;
  font-size: 22px;
}

.work-links-right svg {
  color: #339989;
  transition: all 0.2s ease-in-out;
}

.work-links-right svg:hover {
  color: #00D5B5;
}

.featured-work-right:nth-of-type(2n+1) .technology-list-right li {
    margin: 0px 20px 5px 0px;
    color: #58657F;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

.featured-work-right:nth-of-type(2n+1) .work-image-right {
  grid-column: 1 / 7;
}

.featured-work-right .work-image-right {
  box-shadow: 0 10px 30px -15px #58657F;
  border-radius: 20px;
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
}

.work-image-right {
  transition: all 0.2s ease-in-out;
}

.work-image-right:hover {
  box-shadow:
          -1px 1px #339989,
          -2px 1px #339989,
          -1px 1px #339989;
  -webkit-transform: translateX(2px);
  transform: translateX(2px);
  transition: all 0.2s ease-in-out;
}

.work-image-right a {
  width: 100%;
  height: 100%;
  background-color: #64ffda;
  vertical-align: middle;
  z-index: 2;
}

.work-image-right a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: 3;
  background-color: #00D5B5;
  mix-blend-mode: soft-light;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.work-image-right a:hover::before {
  opacity: 0;
}

.work-image-right a .image-project-right img {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #339989 ;
  z-index: 1;
}

.featured-work-left {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
}

.featured-work-left:nth-of-type(2n+1) .work-content-left {
  grid-column: 6 / 1;
  text-align: left;
}

.featured-work-left .work-content-left {
  position: relative;
  grid-area: -1 / -1 / 1 / 7;
}

.work-overline-left {
  font-family: 'PT Mono', monospace;
  font-weight: 400;
  color: #00D5B5 !important;
  font-size: 16px;
  margin: 10px 0;
}

.work-title-left {
  color: #BAC4E3;
  text-align: left;
  margin-bottom: 20px;
}

.work-title-left a {
  text-decoration: none;
  color: #BAC4E3;
  cursor: default;
}

.work-title-left a:hover {
  color: #BAC4E3;
}

.work-description-left {
  box-shadow: 0 10px 30px -15px #0e2342;
  position: relative;
  z-index: 3;
  padding: 25px;
  border-radius: 10px;
  background-color: #060f1c;
  color: #BAC4E3;
  font-size: 16px;
  opacity: 0.9;
}

.featured-work-left:nth-of-type(2n+1) .technology-list-left {
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.technology-list-left {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}

.featured-work-left:nth-of-type(2n+1) .work-links-left {
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-left: 0px;
}

.work-links-left {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  color: #BAC4E3;
}

.work-links-left a {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px;
  margin-left: 10px;
  font-size: 22px;
}

.work-links-left svg {
  color: #339989;
  transition: all 0.2s ease-in-out;
}

.work-links-left svg:hover {
  color: #00D5B5;
}

.featured-work-left:nth-of-type(2n+1) .technology-list-left li {
    margin: 0px 20px 5px 0px;
    color: #58657F;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

.featured-work-left:nth-of-type(2n+1) .work-image-left {
  grid-column: -1 / 7;
}

.featured-work-left .work-image-left {
  box-shadow: 0 10px 30px -15px #58657F;
  border-radius: 20px;
  grid-area: 1 / 6 / 1 / 1;
  position: relative;
  z-index: 1;
}

.work-image-left {
  transition: all 0.2s ease-in-out;
}

.work-image-left:hover {
  box-shadow:
          1px 1px #339989,
          2px 1px #339989,
          1px 1px #339989;
  -webkit-transform: translateX(-2px);
  transform: translateX(-2px);
  transition: all 0.2s ease-in-out;
}

.work-image-left a {
  width: 100%;
  height: 100%;
  background-color: #64ffda;
  vertical-align: middle;
  z-index: 2;
}

.work-image-left a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: 3;
  background-color: #00D5B5;
  mix-blend-mode: soft-light;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.work-image-left a:hover::before {
  opacity: 0;
}

.work-image-left a .image-project-left img {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #339989 ;
  z-index: 1;
}
/* Work */


/* Contact */
.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.contact-header {
  margin: 20px 0;
}

.contact-header h3 {
  font-weight: 500;
  color: #00D5B5 !important;
  font-size: 26px;
  margin-right: 15px;
}

.contact-header span {
  font-family: 'PT Mono', monospace;
  font-weight: 400;
  color: #00D5B5 !important;
  font-size: 24px;
}

.contact-inner {
  text-align: center;
}

.contact-inner h4 {
  color: #BAC4E3;
  margin-bottom: 30px;
  max-width: 400px;
  text-align: center;
}
/* Contact */


/* Footer */
.footer {
  background-image: url('./assets/img/footerbackground.svg');
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 250px;
  margin-top: 50px;
  opacity: 0.9;
}

.footer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer-socials {
  margin-top: 100px;
}

.footer-socials a {
  font-size: 30px;
  margin: 25px;
}

.footer-socials svg {
  color: #339989;
  transition: all 0.2s ease-in-out;
}

.footer-socials svg:hover {
  color: #00D5B5;
}

.footer-copyright {
  margin-top: 50px;
}

.footer-copyright p a {
  font-weight: 400;
  color: #BAC4E3;
  text-decoration: none;
}
/* Footer */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav.navbar {
    padding: 10px 20px;
  }

  nav.navbar.scrolled {
    padding: 10px 20px;
  }

  .intro-box, .about-box, .experience-box, .work-box, .contact-box {
    padding: 0 30px !important;
    margin: 150px 0 !important;
  }

  .intro-box h2, .intro-box h3 {
    font-size: 40px;
  }

  .about-inner {
    display: flex !important;
    flex-direction: column;
  }

  .inner-avatar {
    margin: 50px 0 0 0;
  }

  .avatar-box {
    margin-top: 0px !important;
    box-shadow: -2px 2px 5px #060f1c,
                 2px -2px 15px #0e2342;
  }
  
  .about-header img, .experience-header img {
    display: none;
  }

  .experience-card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .react-multiple-carousel__arrow {
    top: 30px !important;
    background-color: #060f1c !important;
    border-radius: 50% !important;
    min-width: 30px !important;
    min-height: 30px !important;
  }

  .react-multiple-carousel__arrow::before {
    font-size: 20px;
    color: #339989 !important;
  }

  .work-header h3 {
    margin-right: 0;
  }

  .work-list {
    margin: 50px 0;
  }

  .work-content-right, .work-content-left {
    box-shadow: 0 10px 30px -15px #0e2342;
    position: relative;
    z-index: 3;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #060f1c;
    color: #BAC4E3;
    font-size: 16px;
    opacity: 0.9;
  }

  .work-description-right, .work-description-left {
    padding: 0;
  }

  .featured-work-right:nth-of-type(2n+1) .work-image-right {
    grid-column: 1 / 8;
    margin-bottom: -5px;
  }

  .featured-work-right .work-image-right, .featured-work-left .work-image-left {
    grid-area: -2;
  }

  .featured-work-right, .featured-work-left {
    grid-template-columns: none !important;
  }

  .featured-work-left:nth-of-type(2n+1) .work-image-left {
    grid-column: 8 / 1;
    margin-bottom: -5px;
  }

  .featured-work-left:nth-of-type(2n+1) .work-content-left {
    grid-column: 8 / 1;
  }

  .work-description-right, .work-description-left {
    box-shadow: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #0A192F;
    opacity: 0.9;
  }

  .navbar-toggler {
    font-size: 20px !important;
    line-height: 1;
    color: transparent !important;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
  }

  .navbar-toggler:active ,.navbar-toggler:focus {
    border: none !important;
    outline: none !important;
  }

  .toggler-box {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 24px;
  }

  .custom-toggler {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #00D5B5;
  }

  .custom-toggler::before {
    content: "";
    display: block;
    position: absolute;
    position: absolute;
    top: -10px;
    right: 0px;
    width: 120%;
    height: 2px;
    border-radius: 4px;
    background-color: #00D5B5;
  }

  .custom-toggler::after {
    content: "";
    display: block;
    position: absolute;
    position: absolute;
    bottom: -10px;
    right: 0px;
    width: 80%;
    height: 2px;
    border-radius: 4px;
    background-color: #00D5B5;
  }

  .navbar-nav {
    margin-top: 10px;
    margin-right: 10px;
    align-items: flex-end;
  }

  .intro-box, .about-box, .experience-box, .work-box, .contact-box {
    padding: 0 30px;
    margin: 150px 0;
  }

  .about-inner {
    display: flex !important;
    flex-direction: column;
  }

  .about-header img, .experience-header img {
    width: 50%;
  }

  .inner-avatar {
    margin: 50px 0 0 0;
  }

  .avatar-box {
    margin-top: 0px !important;
    box-shadow: -2px 2px 15px #060f1c,
                 2px -2px 15px #0e2342;
  }

  .experience-card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work-header h3 {
    margin-right: 0;
  }

  .work-list {
    margin: 50px 0;
  }

  .work-content-right, .work-content-left {
    box-shadow: 0 10px 30px -15px #0e2342;
    position: relative;
    z-index: 3;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #060f1c;
    color: #BAC4E3;
    font-size: 16px;
    opacity: 0.9;
  }

  .work-description-right, .work-description-left {
    padding: 0;
  }

  .featured-work-right:nth-of-type(2n+1) .work-image-right {
    grid-column: 1 / 8;
    margin-bottom: -5px;
  }

  .featured-work-right .work-image-right, .featured-work-left .work-image-left {
    grid-area: -2;
  }

  .featured-work-right, .featured-work-left {
    grid-template-columns: none !important;
  }

  .featured-work-left:nth-of-type(2n+1) .work-image-left {
    grid-column: 8 / 1;
    margin-bottom: -5px;
  }

  .featured-work-left:nth-of-type(2n+1) .work-content-left {
    grid-column: 8 / 1;
  }

  .work-description-right, .work-description-left {
    box-shadow: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .about-inner {
    display: grid;
    grid-template-columns: 5fr 4fr;
    gap: 20px;
  }

  .avatar-box {
    margin-top: 60px;
    box-shadow: -2px 2px 15px #060f1c,
                 2px -2px 15px #0e2342;
  }

  .avatar-box img {
    width: 100%;
  }

  .work-header h3 {
    margin-right: 0;
  }

  .work-list {
    margin: 50px 0;
  }

  .work-content-right, .work-content-left {
    box-shadow: 0 10px 30px -15px #0e2342;
    position: relative;
    z-index: 3;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #060f1c;
    color: #BAC4E3;
    font-size: 16px;
    opacity: 0.9;
  }

  .work-description-right, .work-description-left {
    padding: 0;
  }

  .featured-work-right:nth-of-type(2n+1) .work-image-right {
    grid-column: 1 / 8;
    margin-bottom: -5px;
  }

  .featured-work-right .work-image-right, .featured-work-left .work-image-left {
    grid-area: -2;
  }

  .featured-work-right, .featured-work-left {
    grid-template-columns: none !important;
  }

  .featured-work-left:nth-of-type(2n+1) .work-image-left {
    grid-column: 8 / 1;
    margin-bottom: -5px;
  }

  .featured-work-left:nth-of-type(2n+1) .work-content-left {
    grid-column: 8 / 1;
  }

  .work-description-right, .work-description-left {
    box-shadow: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .about-inner {
    display: grid;
    grid-template-columns: 5fr 4fr;
    gap: 20px;
  }

  .avatar-box img {
    width: 100%;
  }
}