/* Custom Fonts */
@font-face {
  font-family: PTMono;
  src:  url("./assets/font/PTMono-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: RobotoCondensed;
  src:  url("./assets/font/RobotoCondensed-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: RobotoCondensed;
  src:  url("./assets/font/RobotoCondensed-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: RobotoCondensed;
  src:  url("./assets/font/RobotoCondensed-Bold.ttf");
  font-weight: 700;
}

/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

ul {
  list-style-type: none;
}

ol, ul {
  padding-left: 0px !important;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #0A192F;
  color: #FFF;
  font-family: 'Roboto Condensed', sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #0A192F !important;
}

body::-webkit-scrollbar-thumb {
  background-color: #58657F !important;
  border-radius: 20px;
  border: 3px solid #0A192F !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.white-text {
  color: #BAC4E3;
}
.white-text-light {
  color: #58657F;
}
.blue-text {
  color: #00D5B5;
}
.blue-text-light {
  color: #339989;
}

nav.navbar {
  padding: 10px 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.2s ease-in-out;
}

nav.navbar.scrolled {
  padding: 10px 50px;
  background-color: #0A192F;
  transition: all 0.2s ease-in-out;
}

.navbar-brand img {
  width: 50%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 500;
  color: #BAC4E3 !important;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

nav.navbar .navbar-nav .nav-link.navbar-link span{
  font-family: 'PT Mono', monospace;
  font-weight: 400;
  color: #00D5B5 !important;
  font-size: 12px;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  color: #00D5B5 !important;
  transition: all 0.2s ease-in-out;
}

.intro-box {
  margin: 250px 0;
}

.intro-box h1, h2, h3, h4 {
  text-align: left;
}

.intro-box h1 {
  font-family: 'PT Mono', monospace;
  font-size: 16px;
  margin-bottom: 15px;
}

.intro-box h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 60px;
  font-weight: bold;
}

.intro-box h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 60px;
  font-weight: bold;
}

.intro-box h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  margin-bottom: 25px;
}

.btn-blue {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: bold !important;
  color: #00D5B5 !important;
  background-color: transparent !important;
  border-radius: 10px !important;
  border-color: #00D5B5 !important;
  padding: 10px 20px !important;
  transition: all 0.15s ease-in-out !important;
  cursor: pointer !important;
}

.btn-blue:hover {
  background-color: #00d5b51a !important;
  transition: all 0.3s ease-in-out !important;
}

.btn-blue:active {
  background-color: #00d5b570 !important;
  transition: all 0.3s ease-in-out !important;
}

.about-box {
  margin-bottom: 150px;
}

.about-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.about-header h3 {
  font-weight: 500;
  color: #BAC4E3 !important;
  font-size: 26px;
  margin-right: 15px;
}

.about-header span {
  font-family: 'PT Mono', monospace;
  font-weight: 400;
  color: #00D5B5 !important;
  font-size: 24px;
}

.about-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inner-info {
  max-width: 600px;
}

.inner-info p {
  font-weight: 400;
  color: #BAC4E3 !important;
  font-size: 16px;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
}

.skill-list img {
  padding-right: 5px;
}

.skill-list li {
  font-weight: 400;
  color: #339989 !important;
  font-size: 12px;
  margin-bottom: 10px;
}

.inner-avatar {
  margin-right: 100px;
}

.avatar-box {
  border-radius: 30px;
  background: #0A192F;
  box-shadow:  -15px 15px 30px #060f1c,
             15px -15px 30px #0e2342;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
